<div>
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-primary text-black>
                <h5 class="mb-0">Quizz!</h5>
            </div>
            <div class="card-body bg-warning">
                <h6 class="card-title">Pergunta 1</h6>
                <div class="mb-3">
                    <label for="playerInput" class="form-label">Jogador:</label>
                    <input type="text" class="form-control" id="playerInput" placeholder="Nome do Jogador">
                </div>
                <button class="btn btn-secondary mb-3" id="answerButton">Resposta</button>
                <div class="reveal-answer">
                    <label for="revealAnswer" class="form-label">O jogador <span id="playerName">[Nome do Jogador]</span> acertou?</label>
                </div>
            </div>
        </div>
    </div>
</div>