@{
    ViewData["Title"] = "Mesa";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6" id="quadrado-branco">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <partial name="ListagemUsuarios" model="Model" />
            <button class="btn btn-success add-user-btn">Adicionar Usuário</button>
        </div>
        <div class="d-flex flex-row align-items-center mt-5 justify-content-center">
            <button type="button" class="btn btn-primary rounded-circle mb-2 mx-2" style="width: 100px; height: 100px;">
                Iniciar Game
            </button>

            <button type="button" class="btn btn-danger rounded-circle mb-2 mx-2" style="width: 100px; height: 100px;">
                Fechar Conta
            </button>

            <button type="button" class="btn btn-warning rounded-circle mx-2" style="width: 100px; height: 100px;">
                Fechar Parcial
            </button>
        </div>

        <div class="dashboard">
            <h2 class="text-center">INFORMAÇÕES DE CADA PARTICIPANTE</h2>
            <div>
                <p class="text-center">Abaixo temos as imagens de perfil de cada participante, clicando nessas imagens as informações deste dashboard serão modificadas para o respectivo participante</p
            </div>

            <div class="d-flex flex-row justify-content-center">
                <div class="logo">
                    <img src="https://randomuser.me/api/portraits/men/75.jpg" class="rounded-circle" alt="User">
                </div>
                <div class="logo">
                    <img src="https://randomuser.me/api/portraits/women/75.jpg" class="rounded-circle" alt="User">
                </div>
                <div class="logo">
                    <img src="https://randomuser.me/api/portraits/men/34.jpg" class="rounded-circle" alt="User">
                </div>
                <div class="logo">
                    <img src="https://randomuser.me/api/portraits/women/34.jpg" class="rounded-circle" alt="User">
                 </div>

            </div>
        </div>


    </div>
</div>

@section scripts
{
    <script>
        // Adicione código JavaScript aqui, se necessário
        // Por exemplo, para mostrar um modal ao clicar em "Adicionar Usuário"
        document.querySelector('.add-user-btn').addEventListener('click', function () {
            // Implemente a lógica para mostrar um modal ou realizar outra ação desejada
            alert('Implemente a lógica para adicionar um usuário');
        });
    </script>
}
