@model List<BarSplitterMVC.Models.Item>

<h3>Itens</h3>

@if (Model != null && Model.Count > 0)
{
    <ul>
        @foreach (var item in Model)
        {
            <li>Nome: @item.Nome, Valor: @item.Valor</li>
        }
    </ul>
}
else
{
    <p>No items to display</p>
}