 <div class="container mt-5">

        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="~/css/LogoBarSplitter.png" style="30% " alt="User">
        </div>

        <div class="row justify-content-around mb-4">
            <button class="btn-lg btn-dark col-3">Criar Mesa</button>
            <button class="btn-lg btn-dark col-3">Entrar Mesa</button>
        </div>

    <div class="introducao container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto text-center">
                <!-- Adicione aqui o texto explicativo -->
                <p style="color: white;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
                <p style="color: white;">Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.</p>
                <!-- Continue adicionando parágrafos conforme necessário -->
            </div>
        </div>
    </div>

        <!-- Cards de jogos -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 1
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 2
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 2 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 3
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                                                