 <div class="container mt-5">
        <!-- Logo e botões de ação -->

        <div class="row justify-content-around mb-4">
            <button class="btn btn-dark col-3">Criar Mesa</button>
            <button class="btn btn-dark col-3">Entrar Mesa</button>
        </div>

        <!-- Seção de explicação -->
        <div class="row">
            <div class="col-12">
                <div class="bg-light p-4 mb-4">
                    <h2>Explicando o funcionamento do site e dos jogos</h2>
                    <p class="text-muted">
                        <!-- Adicionar descricao do app -->
                    </p>
                </div>
            </div>
        </div>

        <!-- Cards de jogos -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 1
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 2
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 2 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 3
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                                                