 <div class="container mt-5">

        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="~/css/LogoBarSplitter.png" style="30% " alt="User">
        </div>

        <div class="row justify-content-around mb-4">
            <button class="btn-lg btn-dark col-3">Criar Mesa</button>
            <button class="btn-lg btn-dark col-3">Entrar Mesa</button>
        </div>

    <div class="introducao container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-10 text-center" style="max-width: 90vw;">
                <p style="color: white;">
                    Bem-vindo ao Bar Splitter! O aplicativo que vai esquentar suas saídas com amigos. Aqui, a diversão vai além das conversas animadas e dos drinks saborosos. O Bar Splitter permite que você adicione os pedidos da mesa e de cada participante individualmente. Com a possibilidade de formar subgrupos para deixar tudo do jeitinho que vocês quiserem. E o melhor: Deixe o trabalho da divisão de conta pra gente! O Bar Splitter é mestre em dividir conta de bar!
                    Mas não é só isso! O diferencial do Bar Splitter é seu catálogo de jogos e seu sistema de apostas para garantir a diversão da noite. Os resultados dos jogos podem (ou não) afetar a conta do bar. Você quer apostar com seus amigos em uma série de perguntas valendo a próxima rodada de cerveja? Ou quem sabe um rápido jogo de forca para aliviar o bolso dos espertos? E o melhor: Deixe todo o trabalho da conta pra gente! Afinal, o Bar Splitter é Mestre em dividir conta de bar!.
                </p>
            </div>
        </div>
    </div>


        <!-- Cards de jogos -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Quiz
                    </div>
                    <div class="card-body">
                    <p class="card-text"> Os participantes disputarão por uma série de perguntas e respostas. Teste seu conhecimento ébrio!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Forca
                    </div>
                    <div class="card-body">
                        <p class="card-text"> Um jogador escolhe uma palavra para ser a Forca. Os outros precisam descobrir qual palavra é essa. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 3
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                                                