 <div class="container mt-5">
        <!-- Logo e botões de ação -->

        <div class="row justify-content-around mb-4">
            <button class="btn btn-dark col-3">Criar Mesa</button>
            <button class="btn btn-dark col-3">Entrar Mesa</button>
        </div>

        <!-- Seção de explicação -->
        <div class="row">
            <div class="col-12">
                <div class="bg-light p-4 mb-4">
                    <h2>Explicando o funcionamento do site e dos jogos</h2>
                    <p class="text-muted">
                        <!-- Adicionar descricao do app -->
                    </p>
                </div>
            </div>
        </div>


    <div class=" introducao container mt-5">
        <h2>Explicando o funcionamento do site e dos jogos</h2>
        <div class="row">
            <div class="col-md-6">
                <!-- Substitua esta div pelo seu vídeo ou imagem -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="URL_DO_SEU_VIDEO_AQUI" allowfullscreen></iframe>
                </div>
                <!-- Ou se for uma imagem -->
                <!-- <img src="URL_DA_SUA_IMAGEM_AQUI" class="img-fluid" alt="Descrição da imagem"> -->
            </div>
            <div class="col-md-6">
                <!-- Adicione aqui o texto explicativo -->
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.</p>
                <p>Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat.</p>
                <!-- Continue adicionando parágrafos conforme necessário -->
            </div>
        </div>
    </div>

        <!-- Cards de jogos -->
        <div class="row">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 1
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 1</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 2
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 2 </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-header text-center">
                        Jogo 3
                    </div>
                    <div class="card-body">
                        <p class="card-text">Descrição do jogo 3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                                                